#consult-viewport {
  width: 20rem;
  max-width: 640px;
  margin: 0 auto;
  background-color: #f1f1f1;
}
#consult-viewport #content {
  padding: 0.6rem 0;
  margin-top: 50px;
}
#consult-viewport #content ul {
  padding-left: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
}
#consult-viewport #content ul li {
  padding: 1rem 0;
  padding-right: 1.5rem;
  border-bottom: 1px solid #dddddd;
  position: relative;
}
#consult-viewport #content ul li .iconfont {
  font-size: 16px;
  color: #ccc;
  font-weight: bold;
  position: absolute;
  top: 18px;
  right: 11px;
}
#consult-viewport #content ul li h4 {
  font-size: 17px;
  color: #ff6600;
  font-weight: normal;
  display: inline-block;
}
#consult-viewport #content ul li span {
  float: right;
  padding-right: 10px;
}
#consult-viewport #content ul li a {
  font-size: 16px;
  color: #666;
}
#consult-viewport #content ul .tit1 {
  padding-left: 2rem;
  background: url(../images/dr1.png) no-repeat left center;
  background-size: 1.5rem;
}
#consult-viewport #content ul .tit2 {
  padding-left: 2rem;
  background: url(../images/dr2.png) no-repeat left center;
  background-size: 1.5rem;
}
#consult-viewport #content ul .tit3 {
  padding-left: 2rem;
  background: url(../images/dr3.png) no-repeat left center;
  background-size: 1.5rem;
}
#consult-viewport #content ul .tit4 {
  padding-left: 2rem;
  background: url(../images/dr4.png) no-repeat left center;
  background-size: 1.5rem;
}
